#header{
  padding: 20px 0 ;
  background: rgba(0, 0, 0, 0.49);
  position: sticky;
  top: 0;
  z-index: 99;
  .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    img{
      width: 300px;
    }
    &--nav{
      .active{
        color: #e10323;
      }
     a{
       font-size: 24px;
       font-weight: 700;
       color: yellow;
       margin: 0 20px;
     }
    }
    select{
      padding: 10px 20px;
      border-radius: 10px;
      font-size: 20px;
    }
    &--dark{
    }
    &--search{
      input{
        padding: 10px 20px;
        background: white;
        border: none;
        border-radius: 14px ;
        margin: 0 20px;
      }
      button {
        padding: 10px 20px;
        color: yellow;
        background: none;
        border :1px solid yellow;
        border-radius: 14px;
      }
    }
  }
}