.iframe{
  padding: 50px 10px ;
  display: flex;
  align-items: center;
  justify-content: center;

}
.video{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 1600px;
  margin: 0 160px;
  overflow-x: auto;



}